html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    background-color: #f8f8f8;
}

h1 {
    font-size: 34pt;
}

h2 {
    margin-top: -10px;
}
p {
    font-size: 16pt;
}

h3 {
    line-height: 10px;
}

h4 {
    line-height: 10px;
}
.container {
    height: 100%;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "header"
        "torso";
}

.header {
    grid-area: header;

    background-color: #424242;

    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 10px;
    grid-template-rows: 100%;
    grid-template-areas: ". name search add .";
}

.name {
    font-size: 34pt;
    color: white;
    grid-area: name;
    justify-self: start;
    align-self: center;
}

.search {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    height: 25px;
    grid-area: search;
    align-self: center;
    font-size: 16pt;
    color: #424242;
}

.add {
    font-size: 55pt;
    color: white;
    grid-area: add;
    justify-self: end;
    align-self: center;
}

.torso {
    grid-area: torso;
    
    display: grid;
    grid-template-columns: 190px auto;
    grid-template-rows: 100%;
    grid-template-areas: "nav main";
}

.nav {
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "class-buttons"
        "other-buttons";
}

.class-buttons {
    grid-area: class-buttons;
    text-align: center;
}

#datepicker {
    margin: 0;
    width: 155px;
    font-size: 16pt;
    background-color: #f8f8f8;
    color: #424242;
}

.datepick {
    color: #424242;
}

.class-label {
    font-size: 21pt;
    color: #424242;
}

.other-buttons {
    grid-area: other-buttons;
    align-self: end;
}

.nav-button {
    margin: 0;
    font-size: 16pt;
    width: 100%;
    display: block;
    background-color: #dd4f44;
    color: white;
    border: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

.nav-button:hover {
    opacity: 0.8;
}

.main {
    padding: 40px;
    color: #424242;
    text-align: center;
}

.main h1 {
    background-color: #D3D3D3;

}
.days {
    text-align: center;
    position: relative;
    height: 100px;
}

.daysTitle {
    position: relative;
    width: 30%;
    float: left;
}

.daysTitle h3 {
    font-size: 18pt;
}
.btn-group {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 70%;
    float: left;
}

.btn-group button {
    background-color: #ff8170;
    border: 1px solid black;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;

}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group button:hover {
    opacity: 0.8;
}

.dates {
    text-align: center;
    position: relative;
    height: 70px;
}

.datesTitle {
    position: relative;
    width: 30%;
    float: left;
}

.datesTitle h3 {
    margin-top: 5px;
    font-size: 18pt;
}

.datepick2 {
    position: relative;
    width: 90%;
}

.datepick2 h4 {
    position: realtive;
    width: 10px;
    float: left;
    margin-top: 7px;
    margin-right: 100px;
}
#datepicker2 {
    position: relative;
    float: left;
    width: 150px;
    font-size: 16pt;
    background-color: #f8f8f8;
    color: #424242;
}

#datepicker3 {
    position: relative;
    float: left;
    width: 150px;
    font-size: 16pt;
    background-color: #f8f8f8;
    color: #424242;
}

#icon1 {
    position: relative;
    float: left;
    margin-right: 80px;
}

#icon2 {
    position: relative;
    float: left;
}

.rates h1 {
    margin: 0px;
    margin-top: 10px;
    font-size: 80pt;
    background-color: #f8f8f8;
}