<!DOCTYPE html>
<html>
    <head>
        <title>Roll Call</title>
        <link rel="stylesheet" href="../static/studentProfile.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script>
            $(function() {
                $("#datepicker").datepicker().datepicker("setDate", new Date());
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="name">Roll Call</div>
                <input class="search" type="text" placeholder="Search for a student">
                <div class="add">+</div>
            </div>
            <div class="torso">
                <div class="nav">
                    <div class="class-buttons">
                        <div class="class-label">Classes</div>
                        <div class="datepick">
                            <input type="text" id="datepicker">
                            <label for="datepicker">
                                <i class="material-icons">date_range</i>
                            </label>
                        </div>
                        <button class="class-button nav-button">Brain Health</button>
                        <button class="class-button nav-button">Leadership</button>
                        <button class="class-button nav-button">LEGO Robotics</button>
                        <button class="class-button nav-button">Shakespeare</button>
                        <button class="class-button nav-button">Tutoring</button>
                    </div>
                    <div class="other-buttons">
                        <button class="whois-button nav-button">
                            <i class="material-icons">accessibility</i>
                            Who's here?
                        </button>
                        <button class="scan-button nav-button" onclick="window.location.href='ready2.html'">
                            <i class="material-icons">fingerprint</i>
                            Scanner
                        </button>
                    </div>
                </div>
                <div class="main">
                    <div class="studentPic">   
                        <img src="/static/kelly.jpeg" >  
                        <div class="studentInfo">
                            <h1>Kelly Fink </h1>
                            <h2> Age 8 </h2>
                            <h3> Date of birth: 11/11/10 </h3>
                        </div> 
                    </div>
                    <br>
                    <div class="extraInfo">
                        <div class="enrolledClasses">
                            <h2> Enrolled Classes </h2>
                            <h3> Shakespeare</h3>
                            <h3> Brain Health </h3>
                        </div>
                        <div class="signOutInfo">
                            <h2> Sign Out Information </h2>
                            <h4> Permission to walk home </h4>
                            <h4> Only parents may pick up </h4>
                        </div>
                        <div class="emergencyInfo">
                            <h2> Emergency Contancts </h2>
                            <h4> Sheila Fink: 574-555-5555 </h4>
                            <h4> Harry Fink: 574-666-6666 </h4>
                        </div>
                    </div>
                    <div class="classesInfo">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
