/* landing page */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    background-color: #f8f8f8;
}

h1 {
    font-size: 34pt;
}

p {
    font-size: 16pt;
}

button:hover {
    background-color: #9B372F;
}

.container {
    height: 100%;
    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "header"
        "torso";
}

.header {
    grid-area: header;

    background-color: #424242;

    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: ". name search add";
}

.name {
    font-size: 34pt;
    color: white;
    grid-area: name;
    justify-self: start;
    align-self: center;
    cursor: pointer;
}

.search {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    height: 25px;
    grid-area: search;
    align-self: center;
    font-size: 16pt;
    color: #424242;
}

.add {
    width: 50px;
    height: 50px;
    color: white;
    background-color: #dd4f44;
    grid-area: add;
    justify-self: end;
    align-self: center;

    margin: 0;
    padding: 0;
    border: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

.material-icons.md-34 { font-size: 34pt; }

.torso {
    grid-area: torso;
    
    display: grid;
    grid-template-columns: 190px auto;
    grid-template-rows: 100%;
    grid-template-areas: "nav main";
    min-height: 0;
    min-width: 0;
}

.nav {
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "class-buttons"
        "other-buttons";
}

.class-buttons {
    grid-area: class-buttons;
    text-align: center;
}

#datepicker {
    margin: 0;
    width: 155px;
    font-size: 16pt;
    background-color: #f8f8f8;
    color: #424242;
}

.datepick {
    color: #424242;
}

.class-label {
    font-size: 21pt;
    color: #424242;
}

.other-buttons {
    grid-area: other-buttons;
    align-self: end;
}

.nav-button {
    margin: 0;
    font-size: 16pt;
    width: 100%;
    display: block;
    background-color: #dd4f44;
    color: white;
    border: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

.main {
    grid-area: main;
    text-align: center;
    color: #424242;
    font-size: 16pt;
    min-height: 0;
    overflow-y: auto;
}

/* class roster and who is here */

.table-container {
  margin: 30px;
}

.student-table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #424242;
}

.student-table>tr>td:first-child, .student-table>tr>th:first-child {
  text-align: left;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #dd4f44;
}

.student-table>tr:nth-child(even) {
  background-color: white;
}

.student-table>tr>td {
  padding: 10px 40px;
}

.student-table>tr>th {
  padding: 10px 40px;
  color: #f8f8f8;
  background-color: #424242;
}

input[type=checkbox].sign {
    display: none;
}

input[type=checkbox].sign + label:before {
    width: 12px;
    height: 12px;
    border: 1px solid #424242;
    border-radius: 3px;
    content: "\00a0";
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 10px;
    margin: 3px 0.5ex;
    padding: 0;
}

input[type=checkbox]:checked.sign + label:before {
    color: white;
    background-color: #dd4f44; 
    content: "\2713";
}
