/* landing page */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  background-color: #f8f8f8;
}

h1 {
  font-size: 34pt;
}

h3 {
  font-size: 21pt;
}

p {
  font-size: 16pt;
}

button {
  background-color: #dd4f44;
  color: white;
  border: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;
  margin: 0;
  font-size: 16pt;
}

button:hover {
  background-color: #9B372F;
}

.container {
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  grid-template-areas:
  "header"
  "torso";
}

.header {
  grid-area: header;

  background-color: #393939;

  display: grid;
  grid-template-columns: 10px 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: ". name search add";
}

.name {
  font-size: 34pt;
  color: white;
  grid-area: name;
  justify-self: start;
  align-self: center;
  cursor: pointer;
}

.search {
  background-color: white;
  padding: 0;
  margin: 0;
  height: 25px;
  grid-area: search;
  align-self: center;
  font-size: 16pt;
  color: #393939;
}

.add {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #dd4f44;
  grid-area: add;
  justify-self: end;
  align-self: center;

  margin: 0;
  padding: 0;
  border: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;
}

.material-icons.md-34 { font-size: 34pt; }

.torso {
  grid-area: torso;

  display: grid;
  grid-template-columns: 190px auto;
  grid-template-rows: 100%;
  grid-template-areas: "nav main";
  min-height: 0;
  min-width: 0;
}

.nav {
  background-color: #eaeaea;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "class-buttons"
  "other-buttons";
}

.class-buttons {
  grid-area: class-buttons;
  text-align: center;
}

#datepicker {
  margin: 0;
  width: 155px;
  font-size: 16pt;
  background-color: white;
  color: #393939;
}

.datepick {
  color: #393939;
}

.class-label {
  font-size: 21pt;
  color: #393939;
}

.other-buttons {
  grid-area: other-buttons;
  align-self: end;
}

.nav-button {
  width: 100%;
  display: block;
}

.main {
  grid-area: main;
  text-align: center;
  color: #393939;
  font-size: 16pt;
  min-height: 0;
  overflow-y: auto;
}

/* class roster and who is here */

.table-container {
  margin: 30px;
}

.go-to-rate {
  margin-bottom: 16pt;
}

.student-table, .tutor-table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #393939;
}

.student-table>tr>td:first-child, .student-table>tr>th:first-child {
  text-align: left;
}

.tutor-table>tr>td:nth-child(2), .tutor-table>tr>th:nth-child(2) {
  text-align: left;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #dd4f44;
}

.student-table>tr:nth-child(even), .tutor-table>tr.tutor-row:nth-child(even) {
  background-color: white;
}

.student-table>tr>td, .tutor-table>tr>td {
  padding: 10px 40px;
}

.student-table>tr>th, .tutor-table>tr>th {
  padding: 10px 40px;
  color: white;
  background-color: #393939;
}

input[type=checkbox].sign {
  display: none;
}

input[type=checkbox].sign + label:before {
  width: 12px;
  height: 12px;
  border: 1px solid #393939;
  border-radius: 3px;
  content: "\00a0";
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 10px;
  margin: 3px 0.5ex;
  padding: 0;
}

input[type=checkbox]:checked.sign + label:before {
  color: white;
  background-color: #dd4f44; 
  content: "\2713";
}

.tutor-row {
  display: table-row;
}

.student-row {
  display: none;
}

/* attendance rates */

.rate-container {
  margin: 30px;
}

.rate-form {
  display: grid;
  margin-top: 16pt;
  grid-template-columns: auto 375px 375px auto;
  grid-template-rows: 55px 55px 55px;
  grid-gap: 25px;
  align-items: center;
  grid-template-areas:
  ". days-title days ."
  ". dates-title dates ."
  ". calc calc ."
}

.days-title {
  justify-self: end;
  grid-area: days-title;
  font-size: 21pt;
}

.days {
  justify-self: start;
  grid-area: days;
}

.dates-title {
  justify-self: end;
  grid-area: dates-title;
  font-size: 21pt;
}

.dates-pickers {
  justify-self: start;
  grid-area: dates;
}

.days input[type=checkbox] {
  display: none;
}

.days input[type=checkbox] + label {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #393939;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  background: white;
}

.days input[type=checkbox]:checked + label {
  background: #dd4f44;
  color: white;
}

.dates-pickers {
  display: inline-flex;
  color: #393939;
}

#date-start-picker, #date-end-picker {
  margin: 0;
  width: 120px;
  font-size: 16pt;
  background-color: white;
  color: #393939;
}

#date-start, #date-end {
  flex: 1;
}

#dates-to {
  margin: 0 20px;
}

.calc-button {
  grid-area: calc;
  justify-self: center;
}


/* student and tutor profile */
.profile-container {
  margin: 40px;
  display: grid;
  grid-template-columns: auto 375px auto 375px auto;
  grid-template-rows: 100%;
  align-items: start;
  grid-template-areas:
  ". basic . other ."
}

.basic-info {
  grid-area: basic;
  max-width: 375px;
  background-color: #eaeaea;
}

.basic-info>img {
  margin-top: 24pt;
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.other-info {
  grid-area: other;
}

.profile-other-header {
  font-weight: bold;
  margin-top: 0;
  color: white;
  background-color: #393939;
}

.profile-other-card {
  max-width: 375px;
  background-color: #eaeaea;
  line-height: 1.5em;
  margin-bottom: 24pt;
}
